{% extends 'common_template.html' %}

{% block title %}
    {{ page_name }}
{% endblock %}

{% block header %}
    {{ page_name }}
{% endblock %}

{% block content %}
    <p class="text">Магазин одежды "Fashion Avenue" - это уникальное место, где каждый клиент может найти стильные и модные наряды по доступным ценам. У нас представлен широкий ассортимент одежды для мужчин, женщин и детей, от повседневных образов до элегантных вечерних нарядов. Мы гордимся тем, что предлагаем только качественные товары от известных брендов, чтобы удовлетворить самые изысканные вкусы наших клиентов. Наша команда профессиональных продавцов всегда готова помочь вам с выбором, советами по модным трендам и подбором идеального образа. Магазин "Fashion Avenue" - это не просто место для покупок, это место, где вы можете почувствовать себя модным и уверенным в своем стиле. Посетите нас сегодня и откройте для себя новые возможности для выражения своей индивидуальности через моду.</p>
{% endblock %}